black==24.3.0
crispy-tailwind==1.0.3
django-allauth==0.61.1
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
django-environ==0.11.2
django-extensions==3.2.3
django-post_office==3.8.0
django-stubs[compatible-mypy]==4.2.7
Django==5.0.3
gunicorn==21.2.0
Pillow==10.2.0
psycopg2-binary==2.9.9
whitenoise==6.6.0
django-ses==3.5.2
